1337x==1.2.2
appdirs==1.4.4
async-lru==1.0.2
attrs==21.2.0
beautifulsoup4==4.10.0
bs4==0.0.1
cattrs==1.9.0
certifi==2021.10.8
charset-normalizer==2.0.9
idna==3.3
pyaes==1.6.1
Pyrogram==1.2.20
pyromod==1.5
PySocks==1.7.1
requests==2.26.0
requests-cache==0.8.1
six==1.16.0
soupsieve==2.3.1
TgCrypto==1.2.2
url-normalize==1.4.3
urllib3==1.26.7