1337x==1.2.2
aiohttp==3.7.4.post0
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.10.0
bs4==0.0.1
cattrs==1.8.0
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.6
idna==3.2
multidict==5.2.0
pyTelegramBotAPI==4.1.0
requests==2.31.0
requests-cache==0.9.6
six==1.16.0
soupsieve==2.2.1
typing-extensions==3.10.0.2
url-normalize==1.4.3
urllib3==1.26.7
validators==0.18.2
yarl==1.6.3
