# Telegram configs
BOT_NAME=Torrent Hunt Clone
BOT_TOKEN=
API_ID=
API_HASH=
BOT_ADMINS=

# Database connection string
DATABASE_URL=sqlite:///torrenthunt.db

# Torrent API (https://github.com/Ryuk-me/Torrent-Api-py)
TORRENTHUNT_API_URL=https://torrent-api-py-nx0x.onrender.com
TORRENTHUNT_API_KEY=

# Message to forward on start
START_ADS=false
START_ADS_CHANNEL=
START_ADS_MESSAGE=

# Sentry.io for error tracing
SENTRY_DSN=

ENVIRONMENT=local
